.Button {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: #fff;
    background-color: #ed3330;
    padding: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}